{% extends 'layout.html' %}

{% block body %}

<!-- <p class="select2-display-none">Phase II Alzheimer&#39;s Main &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 19.4204%;"><strong>Home</strong></td>
			<td colspan="3" style="width: 80.1733%;"><a href="https://github.roche.com/MDH/gn00761-doc/blob/gh-pages/README.md" rel="noopener noreferrer" target="_blank">GitHub</a></td>
		</tr>
		<tr>
			<td colspan="4" style="width: 99.612%;">
				<h3><strong>Study Information</strong></h3>
			</td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>Title</strong></td>
			<td colspan="3" style="width: 80.1733%;">A RANDOMIZED, DOUBLE-BLIND, PLACEBO CONTROLLED, PARALLEL GROUP, MULTICENTER PHASE II STUDY TO EVALUATE THE EFFICACY AND SAFETY OF MABT5102A IN PATIENTS WITH MILD TO MODERATE ALZHEIMER&#39;S DISEASE</td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>Product</strong></td>
			<td colspan="3" style="width: 80.1733%;"><a data-oid="83" data-otype="article" href="/article/83/" rel="noopener noreferrer" target="_blank">CRENEZUMAB</a></td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>RO Number</strong></td>
			<td style="width: 26.4795%;">RO5490245</td>
			<td style="width: 15.5163%;"><strong>Theme Number</strong></td>
			<td style="width: 38.5655%;">7412</td>
		</tr>
		<tr>
			<td><strong>Therapeutic Area</strong></td>
			<td>Neurological and Psychiatric</td>
			<td>
				<br>
			</td>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>Indication</strong></td>
			<td colspan="3" style="width: 80.1733%;">Alzheimer&#39;s disease</td>
		</tr>
		<tr>
			<td colspan="4" style="width: 99.612%;">

				<h3><strong>Study Design</strong></h3>
			</td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>Phase</strong></td>
			<td style="width: 26.4795%;">Phase II</td>
			<td style="width: 15.5163%;"><strong>Blinding</strong></td>
			<td style="width: 38.6499%;">Double-blind</td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>Number Enrolled</strong></td>
			<td style="width: 26.4795%;">448</td>
			<td style="width: 15.5163%;"><strong>Population Type</strong></td>
			<td style="width: 38.6499%;">Patients</td>
		</tr>
		<tr>
			<td><strong>Randomization</strong></td>
			<td colspan="3" style="width: 80.5613%;">None</td>
		</tr>
		<tr>
			<td style="width: 19.4204%;"><strong>Class</strong></td>
			<td style="width: 26.4795%;">Interventional</td>
			<td style="width: 15.5163%;"><strong>Comparison</strong></td>
			<td style="width: 38.5655%;">Placebo Controlled</td>
		</tr>
	</tbody>
</table>
 -->



<div id='timeline1' style="width: 100%; height: 600px"></div> 

{% endblock %}
